$header-height: 64px;
$container-horizontal-padding: 18px;
$info-cell-width: 60px;
$info-cell-height: 30px;
$dashboard-header-height: 64px;

$border-color: #DADCE0;
$button-default-color: #e2e2e2;
$button-border-dark-color: rgba(0, 0, 0, 0.42);
$green: #43A047;
